<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biji.puppeteer.dao.mapper.RegionMapper">

    <resultMap id="base_result" type="com.biji.puppeteer.dao.model.Region">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="region_code" property="regionCode" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="base_column">
         id, parent_id, name, region_code, longitude, latitude, type, status, create_time, update_time
    </sql>

</mapper>
